<h3 class='center-align'>お店一覧</h3>
<% @restaurants.each do |restaurant| %>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag(restaurant.image_url)%>
        <span class="card-title"><%= restaurant.name%></span>
      </div>
      <div class="card-content">
        住所：
        <%= restaurant.address%><br>
        営業時間：
        <%= restaurant.open_info%>
      </div>
      <div class="card-action">
        <a href=<%=restaurant.site_url%>>This is a link</a>
      </div>
    </div>
  </div>
</div>

<%end%>

